@charset "utf-8";

@import "core/normalize";
@import "core/reset.local";
@import "core/setting";

// ----------------------------------------------------------------
//
//  Common
//
//-----------------------------------------------------------------
// html
//-----------------------------------------------
html{
  scroll-behavior: smooth;
}

// body
//-----------------------------------------------
body{
  background: #fafaf7;
  color: #333;
}

a{
  &:hover,
  &:focus{
    text-decoration: none;
  }

  &.blank{
    padding-right: 1.5rem;
  }
}

.ja{
font-size: 2rem;
font-family: 'Noto Sans JP', sans-serif;
}

// ----------------------------------------------------------------
//
//  Header
//
//-----------------------------------------------------------------
header{
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(250, 250, 247,.9);
  z-index: 1;

  nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px 5%;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 2px 3px -3px rgba(0,0,0,.3);

    >ul{
      display: flex;
      margin: 0;

      >li{
        &:not(:first-child){
          margin-left: 2rem;
        }

        >a{
          text-decoration: none;
          color: #364f6b;
        }
      }
    }
  }
}

// ----------------------------------------------------------------
//
//  Section
//
//-----------------------------------------------------------------
section{
  width: 100%;
  padding: 80px 15% 30px;
  height: 100vh;
  box-sizing: border-box;

  &.top{
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    >.top-inner{
      text-align: center;
    }
  }

  &.about{
    padding-bottom: 80px;
    background: url(../../include/images/bg-about.jpg) 50% 50%;
    background-size: cover;

    // ====Media Queries====
    @include breakpoint(tab){
      height: auto;
      background-position: 75% 50%;
    }
    // ====Media Queries====
  }

  &.works{
    padding-bottom: 30px;
    height: auto;
  }

  // ====Media Queries====
  @include breakpoint(tab){
    padding: 80px 10%;
  }

  @include breakpoint(sp){
    padding: 80px 5% 30px;
  }
  // ====Media Queries====
}

// ----------------------------------------------------------------
//
//  Heading
//
//-----------------------------------------------------------------
h1,h2,h3{
  font-family: 'Pompiere', cursive;
  letter-spacing: .1rem;
  color: #364f6b;
}
// h1
//-----------------------------------------------
h1{
  margin-bottom: 20px;
  text-align: center;
  font-size: 4rem;
}
//-----------------------------------------------
// h2
//-----------------------------------------------
h2{
  margin-bottom: 10px;
  font-size: 3rem;
}

h3{
  margin-bottom: 10px;
  font-size: 2rem;
}

// ----------------------------------------------------------------
//
//  List
//
//-----------------------------------------------------------------
// .def-list
//-----------------------------------------------
.def-list{
  >li{
    display: flex;

    &:not(:first-child){
      margin-top: 10px;
    }

    >div{
      &:first-child{
        width: 8.5em;
        padding-right: 1em;
      }

      &:last-child{
        flex: 1;

        >span{
          &:not([class]){
            display: block;
          }
        }
      }
    }

    // ====Media Queries====
    @include breakpoint(tab){
      display: block;

      &:not(:first-child){
        margin-top: 15px;
      }
    }
    // ====Media Queries====
  }
}

// .thumb-list
//-----------------------------------------------
.thumb-list{
  >li{
    //display: flex;

    &:not(:first-child){
      margin-top: 50px;
    }

    >.thumb{
      width: 500px;
      height: 400px;
      overflow: hidden;
      margin: 0 auto 15px;
      border: 1px solid #ccc;

      img{
        width: 100%;
      }
    }

    >.detail{
      >.title{
        font-size: 1.2rem;
      }
    }

    // ====Media Queries====
    @include breakpoint(tab){
      &:not(:first-child){
        margin-top: 30px;
      }

      >.thumb{
        width: 100%;
        height: 300px;
      }

      >.detail{
        margin-top: 10px;
      }
    }
    // ====Media Queries====
  }
}


// .inline-list
//-----------------------------------------------
.inline-list{
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;

  >li{
    &:not(:last-child){
      position: relative;
      padding-right: 1em;

      &:after{
        position: absolute;
        content: '/';
        right: .25em;
        top: 0;
      }
    }
  }

  +p{
    margin-top: 10px;
  }
}